POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ygrec
JWT_SECRET=supersecretkey
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ygrec
CORS_ORIGIN=http://localhost:5173
